ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
html,body{
  scroll-behavior:smooth;
}
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/
li {
    float: left;
}
.red{
  color: red;
}

.div_td{
	width: 50%;
	height: 500px;
	float: right;
	border: #000000 0px solid;
	background: black;
}

.dn{
	display: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
#header{
   /* height:100%; */
   text-align:center;
    color:black;
     background: #fdd4b5;
     width: 100%;
     padding;
     font-size: 18px;
     color: #5f84a8;
     border: 1px #e7daca solid;
     border-radius: 5px;
     margin: 0px 0px 7px 0px;
     box-shadow:5px 5px 10px gray;
     background: -webkit-linear-gradient(#886600, #CC9999);
     background: -o-linear-gradient(#886600, #CC9999);
     background: -moz-linear-gradient( #886600, #CC9999);
     background: linear-gradient( #886600, #CC9999);
	position: fixed;
		/* margin-top: 300px; */
	top: 0;
	z-index: 99;
}

body {
    height:100%;
    background-color: rgba(255, 255, 255, 255);
    background-size: auto, 100% 100%;
    background-attachment: fixed;
    overflow-y: scroll;
    line-height: 1;
  }
  footer{
    position: relative;
    width: 100%;
    height:100%;
    background-color:#000000;
}
*{
  padding:0;
  margin:0;
}
div{
  font-family: Arial;
  font-weight: 1em;
  color: #777777;
  font-size: 20pt;
  line-height: 1.75em;
  }
  table{width: 100%;
  border: #000000 5px;}
  th{
    height: 50px;
    vertical-align: bottom;
    border: #000000 5px

  }
  .btn1,.btn2,.btn3,.btn4{
  background-color: black;
  border: none;
  color: white;
  padding: auto;
  width: 20%;
  height:100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  outline: none;
}
h4{
font-family:Impact;
color:#FFFFFF
}

/*dolby*/
#About_US{
  height: 100%;
  margin: 0;
  padding: 0;
}
#Whats_new{
  height:100%;
  margin:0;
  padding:0;

}
#dolby{
  background: -webkit-linear-gradient( #700000, #000000);
  background: -o-linear-gradient( #700000, #000000);
  background: -moz-linear-gradient( #700000, #000000);
  background: linear-gradient( #700000, #000000);
  padding;
}

  #intro_dolby_vedio{
    position:relative;
    background:#00000;
    left:0px;
    bottom:30px;
  }
/*Seats*/
#seat-verona{
  background-image: url(../../media/Verona-Twin.png);
  height:100%;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
background-attachment: fixed;
background-position: center;
background-repeat: repeat;
background-size: cover;
}
#photo_of_first_class{
            height: 100%;
            min-height: 500px;
            position:  relative;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
    text-align: center;
        background: rgb(255,255,255，0.5);
        color: 		#00DDAA;
}
.headers{
  margin-top: 174px;
}
#seat-538{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  background-image: url(../../media/538.jpg);
  height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: repeat;
background-size: cover;

text-align: center;
color: red;
}
#photo_of_standard_seats{
  height: 100%;
  min-height: 500px;
            position:  relative;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
            background-color: rgb(255,255,255，0.5);
            color:		#00DDAA;
}

/*prices*/
#Prices_Section_box{
            width: auto;
            height: auto;
            position:  relative;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
            background: -webkit-linear-gradient( #700000, #000000);
            background: -o-linear-gradient( #700000, #000000);
            background: -moz-linear-gradient( #700000, #000000);
            background: linear-gradient( #700000, #000000);
}
tr,td{
  font-family:Arial;
  color:white;
  border: 5px solid black;
}
/*Now Showing*/
#Now_showing_section{
  background-color: #FFFFBB;
  margin-top: 175px;
}
#FirstTwo{
  width:100%;
height:510px;
}
#SecondTwo{
  width:100%;
height:510px;
}
table{
  border-style: double solid;
  border: 5px solid black;
}
#Avengers_End_game{
  position:relative;
  float: left;
  width: 50%;
  height: 100%;
  border-style: double solid;
  border: 0px;
  background: -webkit-linear-gradient( #000000, #404040);
  background: -o-linear-gradient( #000000, #404040);
  background: -moz-linear-gradient(#000000, #404040);
  background: linear-gradient( #000000, #404040);
}
#Avengers_Photo{
  position:absolute;
  float: left;
  top:10px;
  left:10px;
  width: 50%;
  height: 90%;
}
#End_game_Description{
  position:relative;
  float: right;
  top:10px;
  right:10px;
  width: 50%;
  height: 90%;
   font-size: 25px;
   color:white;
   border-style: double solid;
 }
  #Top_End_Wedding{
    position:relative;
    float: right;
    width: 50%;
    height: 100%;
    border-style: double solid;
    border: 0px;
    background: -webkit-linear-gradient( #000000, #404040);
    background: -o-linear-gradient( #000000, #404040);
    background: -moz-linear-gradient(#000000, #404040);
    background: linear-gradient( #000000, #404040);
  }
  #Top_End_Wedding_Photo{
    position:absolute;
    float: left;
    top:10px;
    left:10px;
    size:300px;
  }
  #Top_End_Wedding_Description{
    position:relative;
    float: right;
    top:10px;
    right:10px;
    width: 50%;
    height: 90%;
    font-size: 25px;
    color:white;
      border-style: double solid;
  }
    #Dumbo{
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      border-style: double solid;
      border: 0px;
      background: -webkit-linear-gradient( #000000, #404040);
      background: -o-linear-gradient( #000000, #404040);
      background: -moz-linear-gradient(#000000, #404040);
      background: linear-gradient( #000000, #404040);
    }
    #Dumbo_Photo{
      position:absolute;
      float: left;
      top:10px;
      left:10px;
      size:300px;
    }
    #Dumbo_Description{
      position:relative;
      float: right;
      top:10px;
      right:10px;
       font-size: 25px;
       color:white;
       width: 50%;
       height: 90%;
       border-style: double solid;
    }
      #The_Happy_Prince{
        position:relative;
        float: right;
        width: 50%;
        height: 100%;
        border: 0px;
        border-style: double solid;
        background: -webkit-linear-gradient( #000000, #404040);
        background: -o-linear-gradient( #000000, #404040);
        background: -moz-linear-gradient(#000000, #404040);
        background: linear-gradient( #000000, #404040);
      }
      #The_Happy_Prince_Photo{
        position:absolute;
        float: left;
        top:10px;
        left:10px;
        size:300px;
      }
      #The_Happy_Prince_Description{
        position:relative;
        float: right;
        top:10px;
        right:10px;
         font-size: 25px;
         color:white;
         width: 50%;
         height: 90%;
         border-style: double solid;
      }
/*Booking*/
#Synopsis_Section{
  border:black 0px solid; background: #800000;
}
   #Synopsis_description{
     width: 50%;height: 500px;float: left;border:#000000 0px solid; background: black;
   }
   #Synopsis_Vedio{
     width: 50%;height: 500px;float: right;border:#000000 0px solid;background: black;
   }
   #booking{
     width: 100%;
     height: 100%;
	 background: #800000;
   }


   p1{
     color:#F0F0F0;
   }
   /*dolby*/
   #About_US{
     height: 100%;
     margin: 0;
     padding: 0;
   }
   #Whats_new{
     height:100%;
     margin:0;
     padding:0;

   }
   #dolby{
     background: -webkit-linear-gradient( #700000, #000000);
     background: -o-linear-gradient( #700000, #000000);
     background: -moz-linear-gradient( #700000, #000000);
     background: linear-gradient( #700000, #000000);
     padding;
   }

     #intro_dolby_vedio{
       position:relative;
       background:#00000;
       left:0px;
       bottom:30px;
     }
	 .mask{
		position: fixed;
		 top: 0;
		 bottom: 0;
		 width: 100%;
		 height: 100%;
		 background: rgba(0, 0, 0, 0.5);
		 z-index: 998;
	  }

	.order_form {
		/* width: 550px; */
		/* height: 450px; */
		background: white;
		border-radius: 10px;
		position: absolute;
		left: 50%;
		transform: translate(-50%,-50%);
		left: 50%;
		top: 50%;
		box-sizing: border-box;
		padding: 15px 20px;
		font-size: 14px;
		color: #333;
		overflow: scroll;
	}
	.order_form p,.order_form label{
		color: #333;
		font-size: 14px;
		height: 30px;
		line-height: 30px;
	}
	.order_form_standard{
		border: 1px solid #333;
		padding: 1px 10px;
		border-radius: 10px;
		width: 200px;
		margin-bottom: 10px;
	}
	.form_standard_item select{
		width: 110px;
		text-align: center;
	}
	.form_standard_item p{
		width: 80px;
		display: inline-block;
	}
	.total_info{
		font-size: 14px;
	}
	.total_info p{
		color: red;
		display: inline-block;
		font-size: 14px;
	}
	.order_form_left{
		float: left;
	}
	.order_form_right{
		float: right;
		font-size: 14px;
    color: #333;
    margin-left: 30px
		/* margin-right: 15px; */
	}
	input{
		outline-style: none;
	}
	.form_standard_order{
		width: 100px;
		height: 30px;
		float: right;
		margin-top: 30px;
		background: white;
	}
	.form_standard_close{
		width: 100px;
		height: 30px;
		float: left;
		margin-top: 30px;
    background: white;
    border: 1px solid #333;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #000;
  }
  .expiry-right,.expiry-left{
    width: 30px;
    text-align: center;
  }
